Есть ли связь между неграмотностью и рождаемостью? Для 94 стран, уровень неграмотности женщин в которых больше 5%, известны доля неграмотных среди женщин старше 15 (на 2003 год) и средняя рождаемость на одну женщину (на 2005 год).

illiteracy.txt
Чему равен выборочный коэффициент корреляции Пирсона между этими двумя признаками? Округлите до четырёх знаков после десятичной точки.

In [1]:
import pandas as pd
from scipy.stats.stats import pearsonr
from scipy.stats.stats import spearmanr
from sklearn.metrics import matthews_corrcoef
from scipy.stats import chi2_contingency
spearmanr
data = pd.read_csv('illiteracy.txt', sep = '\t', header = 0)
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [2]:
pearsonr(data['Illit'],data['Births'])

(0.768663027115179, 1.5029095259924712e-19)

In [3]:
spearmanr(data['Illit'],data['Births'])

SpearmanrResult(correlation=0.752962213732534, pvalue=2.0858571221460674e-18)

Для 61 большого города в Англии и Уэльсе известны средняя годовая смертность на 100000 населения (по данным 1958–1964) и концентрация кальция в питьевой воде (в частях на маллион). Чем выше концентрация кальция, тем жёстче вода. Города дополнительно поделены на северные и южные.

water.txt
Есть ли связь между жёсткостью воды и средней годовой смертностью? Посчитайте значение коэффициента корреляции Пирсона между этими признаками, округлите его до четырёх знаков после десятичной точки.

In [4]:
data = pd.read_csv('water.txt', sep = '\t', header = 0)
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [5]:
pearsonr(data['hardness'],data['mortality'])

(-0.6548486232042465, 1.0331339260349512e-08)

In [6]:
round(-0.6548486232042465,4)

-0.6548

В предыдущей задаче посчитайте значение коэффициента корреляции Спирмена между средней годовой смертностью и жёсткостью воды. Округлите до четырёх знаков после десятичной точки.

In [7]:
spearmanr(data['hardness'],data['mortality'])

SpearmanrResult(correlation=-0.6316646189166502, pvalue=4.79546153722838e-08)

In [8]:
round(-0.6316646189166502,4)

-0.6317

Сохраняется ли связь между признаками, если разбить выборку на северные и южные города? Посчитайте значения корреляции Пирсона между средней годовой смертностью и жёсткостью воды в каждой из двух подвыборок, введите наименьшее по модулю из двух значений, округлив его до четырёх знаков после десятичной точки.

In [9]:
data_South = (data[data['location']=='South'])
data_North = (data[data['location']=='North'])

In [10]:
pearsonr(data_South['hardness'],data_South['mortality'])

(-0.6021532715484158, 0.0011346743048161927)

In [11]:
pearsonr(data_North['mortality'],data_North['hardness'])

(-0.3685978383288718, 0.029344659047110606)

Среди респондентов General Social Survey 2014 года хотя бы раз в месяц проводят вечер в баре 203 женщины и 239 мужчин; реже, чем раз в месяц, это делают 718 женщин и 515 мужчин.

Посчитайте значение коэффициента корреляции Мэтьюса между полом и частотой похода в бары. Округлите значение до трёх знаков после десятичной точки.

In [12]:
import numpy as np
x1= [203,239]
y1= [718,515]

m = np.ones(515+239)
m[0:515] = 0
matthews_corrcoef(x1,y1)

0.0

In [13]:
w = np.ones(203+718)
w[0:718] =0

In [14]:
matthews_corrcoef(x1,y1)

0.0

In [15]:
((718.*239.) - (203.*515.))/(np.sqrt((239.+515.)*(239.+203.)*(718.+203.)*(515.+718.)))

0.10900237458678963

как построить таблицу сопряженности  - http://www.machinelearning.ru/wiki/index.php?title=%D0%AD%D1%84%D1%84%D0%B5%D0%BA%D1%82%D0%B8%D0%B2%D0%BD%D0%BE%D1%81%D1%82%D1%8C_%D0%9F%D0%9A_%D0%B4%D0%BB%D1%8F_%D0%BF%D0%BE%D1%81%D1%82%D1%83%D0%BF%D0%BB%D0%B5%D0%BD%D0%B8%D1%8F_%D0%BD%D0%B0_%D0%92%D0%9C%D0%9A_%D0%9C%D0%93%D0%A3

формула корреляции - http://www.machinelearning.ru/wiki/index.php?title=%D0%9A%D0%BE%D1%80%D1%80%D0%B5%D0%BB%D1%8F%D1%86%D0%B8%D1%8F_%D0%9C%D1%8D%D1%82%D1%8C%D1%8E%D1%81%D0%B0

В предыдущей задаче проверьте, значимо ли коэффициент корреляции Мэтьюса отличается от нуля. Посчитайте достигаемый уровень значимости; используйте функцию scipy.stats.chi2_contingency. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [16]:
obs = np.array([[239.,515.], [203.,718.]])
g, p, dof, expctd = chi2_contingency(obs)
p

1.0558987006638725e-05

In [46]:
obs

array([[239., 515.],
       [203., 718.]])

В предыдущей задаче давайте попробуем ответить на немного другой вопрос: отличаются ли доля мужчин и доля женщин, относительно часто проводящих вечера в баре? Постройте 95% доверительный интервал для разности долей, вычитая долю женщин из доли мужчин. Чему равна его нижняя граница? Округлите до четырёх знаков после десятичной точки.

In [17]:
from statsmodels.stats.proportion import proportion_confint

In [38]:
import scipy
import numpy as  np
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [39]:
import scipy
from statsmodels.stats.weightstats import *
from statsmodels.stats.proportion import proportion_confint

m = np.ones(515+239)
m[0:515] = 0

w = np.ones(203+718)
w[0:718] =0

print "confidence interval: [%f, %f]" % proportions_confint_diff_ind(m, w)

confidence interval: [0.053905, 0.139222]

In [40]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

In [41]:
def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

In [43]:
print "p-value: %f" % proportions_diff_z_test(proportions_diff_z_stat_ind(w, m), 'two-sided')

p-value: 0.000008

Посмотрим на данные General Social Survey 2014 года и проанализируем, как связаны ответы на вопросы "Счастливы ли вы?" и "Довольны ли вы вашим финансовым положением?"


![title](pic001.png)


Чему равно значение статистики хи-квадрат для этой таблицы сопряжённости? Округлите ответ до четырёх знаков после десятичной точки.

In [54]:
obs = np.array([[197,111,33], [382,685,331],[110,342,333]])
g, p, dof, expctd = chi2_contingency(obs)
g

293.68311039689746

In [61]:
print obs[:,0]

[197 382 110]

На данных из предыдущего вопроса посчитайте значение достигаемого уровня значимости. Введите номер первой значащей цифры (например, если вы получили 5.5×10−8, нужно ввести 8).

In [53]:
p

2.4964299580093467e-62

Чему в предыдущей задаче равно значение коэффициента V Крамера для рассматриваемых признаков? Округлите ответ до четырёх знаков после десятичной точки.

In [64]:
import pandas as pd
pa = pd.DataFrame(obs)
#confusion_matrix = pd.crosstab(obs[:,0], obs[:,1],obs[:,2])

In [67]:
pa.head()

     0    1    2
0  197  111   33
1  382  685  331
2  110  342  333

In [68]:
#confusion_matrix = pd.crosstab(pa[0], pa[1],pa[2])

In [76]:
c_matrix = np.array([[197,111,33], [382,685,331],[110,342,333]])

def cramers_stat(confusion_matrix):
    chi2 = chi2_contingency(confusion_matrix)[0]
    n = confusion_matrix.sum()
    return np.sqrt(chi2 / (n*(min(confusion_matrix.shape)-1)))
cramers_stat(c_matrix)

0.2412013934500338

0.2412013934500338